<div class = 'content'>
    <div class = 'nav'>
        <div class = 'header'>
            <img src ='../../assets/Logo.png'> 
        </div>
        <div class ='navigation'>
            <div 
            *ngFor="let category of Categories let i = index"  
            (click)="onSelectedCategoryChanged(category.name)" >
                <div class="nav-item" [ngClass]="{changeBackground: category.name === activeCategory}"   >
                    <div class="nav-content">
                        <img [src]="category.name === activeCategory? category.imageactiveurl : category.imageinactiveurl">
                        <a class = "text" [ngClass]="{changeTextColor: category.name === activeCategory}">
                            {{ category.name }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id = 'container'>
        <div class="account">
            <div class="avatar-group">
                <img src="/assets/Avatar.png">
                <div class="text-group">
                    <span class = account-text> {{Username}}</span>
                    <span class = account-supporting-text> {{UserAccount}}</span>
                </div>
            </div>
            <div class="logout">
                <img src="/assets/log-out-01.png" 
                style="width: 20px;height: 20px;flex: none;order: 0;flex-grow: 0;">
            </div>
        </div>
    </footer>
</div>

